.of-auto      { overflow: auto !important; }
.of-hidden    { overflow: hidden !important; }
.of-scroll    { overflow: scroll !important; }
.of-visible   { overflow: visible !important; }

.ofx-auto     { overflow-x: auto !important; }
.ofx-hidden   { overflow-x: hidden !important; }
.ofx-scroll   { overflow-x: scroll !important; }
.ofx-visible  { overflow-x: visible !important; }

.ofy-auto     { overflow-y: auto !important; }
.ofy-hidden   { overflow-y: hidden !important; }
.ofy-scroll   { overflow-y: scroll !important; }
.ofy-visible  { overflow-y: visible !important; }
