@mixin flex-base() {
  display: flex;
}

// 垂直居中
@mixin flex-vertical-center() {
  @include flex-base;
  align-items: center;
}

// 水平垂直居中
@mixin flex-level-center() {
  @include flex-vertical-center;
  justify-content: center;
}

@mixin flex-end() {
  @include flex-vertical-center;
  justify-content: flex-end;
}

@mixin flex-space-between() {
  @include flex-vertical-center;
  justify-content: space-between;
}

@mixin flex-space-around() {
  @include flex-vertical-center;
  justify-content: space-around;
}
