.headline-primary     { border-color: $brand-primary; }
.headline-info        { border-color: $brand-info; }
.headline-success     { border-color: $brand-success; }
.headline-warning     { border-color: $brand-warning; }
.headline-danger      { border-color: $brand-danger; }
