#nprogress .spinner{
  display: none !important;
}

/* 修改滚动条样式 */
div::-webkit-scrollbar,
aside::-webkit-scrollbar,
body::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

div::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
body::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

div::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover{
  background: #6d6d6d;
}

div::-webkit-scrollbar-corner,
aside::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner{
  background: #d3d8da;
}
